<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Removes all machine-wide default package feeds -->
    <clear />
    <add key="zeuslearning/training-nuget-store" value="https://zeuslearning-824100177805.d.codeartifact.ap-south-1.amazonaws.com/nuget/training-nuget-store/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <!-- Explicitly disables the public nuget.org source inside this context -->
    <add key="nuget.org" value="true" />
  </disabledPackageSources>
</configuration>
